server:
  port: 8085

spring:
  application:
    name: Yorick Application - User service
  datasource:
    url: jdbc:postgresql://localhost:5443/yorick
    username: root
    password: admin123
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8084/eureka/


